body{
    background-image: url("background.jpg");    
    background-size: 1550px;
}
#blackbox{
    text-align: center;
    line-height: 25px;
    padding: 50px;
    margin-left: 820px;
    margin-right: 80px;
    border-radius: 10px;
    margin: 50px;
    margin-left: 250px;
    margin-right: 250px;
    background-color: rgba(0, 0, 0, 0.65)
}
.logo{
    width: 200px;
    margin: 10px;
}
#taking{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: limegreen;
}
header{
    padding: 5px;
    line-height: 40px;
}
nav{
    text-align:center;
    width:920px;
    height:40px;
    background-color: limegreen;
}
#bottom{
    margin-top: 10px;
}
main{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: white;
    font-size: 15px;
    margin-top: 10px;
}
.monopattini{
    font-size: 23px;
    margin-top: 15px;
    line-height: 40px;
}
.progress-bar1 {
    background-color:orange;
    padding: 15px;
    margin: 3px 0;
    border-radius: 5px;
    width: 260px;
    margin-bottom: 15px;
}
.progress-bar2 {
    background-color: green;
    padding: 15px;
    margin: 3px 0;
    border-radius: 5px;
    width: 500px;
    margin-bottom: 15px;
}
.progress-bar3 {
    background-color: crimson;
    padding: 15px;
    margin: 3px 0;
    border-radius: 5px;
    width: 100px;
    margin-bottom: 15px;
}